body{
  background-color: lightgoldenrodyellow;
  padding: 10px;
}
.h1{
  color: brown;
  text-align: center;
  text-justify: center;
}
.container{
  flex: auto;
  max-width: 200px;
  width: 100%;
  background-color: rgb(133, 184, 145);
  height: 280px;
  text-align: center;
  padding: 40px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 25px;

}
.height{
  font-size: 15px;
  font-weight:500 ;
  color: aqua;
  
}
.weight{
  font-size: 15px;
  font-weight:500 ;
  color: aqua;
}
.input{
  width: auto;
  padding: 0 5px;
  height: 5px;
  font-size: 25px;
}
label{
  position: relative;
  left: 5px;
  font: 15px;
}
button{
  background-color: rgb(67, 82, 72);
  text-align: center;
  justify-content: center;
  color:lightpink;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
button:hover{
  color: red;
  cursor: pointer;
}
.incenter{
  background-color:rgb(196, 135, 135);
  
  text-align: center;
  margin: auto;
  border-radius: 25px;
  font-size: 15px;
  
}